#gridContainer {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 80% 10%;
    position: fixed;
    height: 90vh;
    width: 100vw;
    top: 10%;
    left: 0;
    margin: 0;
    padding: 0;
    background-color: rgba(97, 97, 113, 0.626);
}

#leftPanel {
    grid-column: 1;
    grid-row: 2;
}

#headerContainer {
    grid-column: 2;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#todayHeader {
    text-align: center;
    text-wrap: nowrap;
    font-size: 4.5vh;
}

#mainPanel {
    grid-column: 2;
    grid-row: 2;
    padding: 0;
}

#rightPanel {
    grid-column: 3;
    grid-row: 2;
}

#signOutContainer {
    grid-column: 3;
    grid-row: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#signOutButton {
    background-color: red;
    margin: 0;
    padding: 0;
    height: 30px;
    width: 120px;
    font-size: 2vh;
}

#signOutButton:hover {
    background-color: rgb(200, 0, 0);
}

#tableContainer {
    display: grid;
    grid-template-columns: 35% 25% 40%;
    border: 2px solid;
    margin: 0;
    padding: 0;
    background-color: black;
}

.tableItem {
    padding: 5px;
    display: flex;
    align-items: center;
    text-wrap: nowrap;
    font-size: 3vh;
    background-color: #777;
}

#weightLabel, #durationLabel {
    justify-content: right;
}

#weightLabel, #weight, #weightButtonContainer {
    margin-bottom: 2px;
}

#weight, #duration {
    justify-content: left;
}

#weightButtonContainer, #workoutButtonContainer {
    justify-content: center;
    margin-left: 2px;
}

#weightButton, #workoutButton {
    background-color: black;
    font-size: 3vh;
    margin: 0;
    padding: 10px;
    width: 90%;
}

#weekHeader {
    text-align: center;
    text-wrap: nowrap;
    font-size: 4.5vh;
    padding: 0;
    margin: 0;
}

#graphsContainer {
    padding: 0;
    margin: 0;
}

#weightGraphContainer, #durationGraphContainer {
    background-color: rgb(31, 36, 47);
    height: 180px;
    padding: 0;
    margin-bottom: 5px;
}