/* styles.module.css */

.dndContainer {
    overflow-y: scroll;
    height: 20vh;
}

.draggableItem {
    user-select: none;
    padding: 8px;
    margin-bottom: 8px;
    background: grey;
    width: 100%;
    display: flex;
}
  
.draggableItem:hover {
    background: lightgrey;
}
  
.exerciseDetails {
    flex-grow: 1;
}

.deleteButton {
    color: red;
    background-color: inherit;
    width: auto;
    justify-content: right;
    padding: 0;
    cursor: pointer;
}
  