.body {
  background-image: url("../../static/barbell.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4vh;
  height: 96vh;
  position: fixed;
  width: 100%;
}

.leftContainer {
  height: 90%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.rightContainer {
  height: 90%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.listContainer {
  height: 100%;
}

.workoutListItem {
  cursor: pointer;
  padding-left: 0;
  text-align: center;
  background-color: #444;
  color: white;
}

.workoutListItem:hover {
  background-color: #222;
}

.workoutListItem.selected {
  background-color: #222;
}

.addContainer {
  display: flex;
  align-items: center;
}