/* * {
  border: solid red 1px;
} 
body {
   background-image: url("../../static/huge.png");
   background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
   height: 100vh; 
  margin: 0;
} 

.loginContainer {

  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
} 
.form-group {
  margin-bottom: 10px;
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.hide {
  display: none;
}


button:hover {
  background-color: light-blue;
}






.UpperSignIn {
  text-align: center;
}
.LowerLogin {
  text-align: center;
  font-size: 11px;
}
*/