
  .circular-image {
    border-radius: 50%;
    width: 100px; /* or any desired size */
    height: 100px; /* should be the same as width for a perfect circle */
  }
  .body {
    background-image: url("../../static/barbell.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4vh;
    height: 96vh;
    position: fixed;
    width: 100%;
  }

  .popups {
    display: grid;
    grid-template-rows: repeat(1fr);
    row-gap: 5px;
  }

  .delete {
    background-image: url('../../static/angry.jpg');
  }
