:root {
  --hover-brightness: 0.70;
}

.nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: grid;
    height: 4vh;
    grid-template-columns: auto auto auto auto auto;
}
  
.navLink, .dropdownButton {
  color: white;
  background-color: #555;
}

.navLink {
  text-align: center;
  text-decoration: none;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  min-width: min-content;
  padding-left: 5px;
  padding-right: 5px;
}

.dropdown {
  height: inherit;
}

.dropdownButton {
  text-align: center;
  text-decoration: none;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.navLink:hover, .dropdownButton:hover, #signOut:hover {
  filter: brightness(var(--hover-brightness))
}

.active {
  background-color: #222;
} 

#signOut {
  background-color: rgb(220, 0, 0);
}
